@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[4vw] py-5 h-[70px] border-b-2 border-cyan-100;
  }
  .log-reg-color{
    @apply bg-gradient-to-r text-transparent from-green-500 to-blue-500
  }
  .entryText {
    @apply text-3xl text-center font-extrabold  bg-clip-text ;
  }
}
