@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[4vw] py-5 h-[70px] border-b-2 border-cyan-100;
  }
  .log-reg-color {
    @apply bg-gradient-to-r text-transparent from-green-500 to-blue-500  focus:ring focus:ring-blue-300;
  }
  .entryText {
    @apply text-3xl text-center font-extrabold  bg-clip-text;
  }
  .btn-dark {
    @apply bg-stone-900 text-white px-5 py-2 rounded-full hover:bg-stone-700 font-semibold;
  }
  .btn-white {
    @apply border-2 px-5 py-1 rounded-full text-lg  hover:bg-slate-100 font-semibold;
  }
}
