@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[4vw] py-5 h-[70px] border-b-2 border-cyan-100 ;
  }
}
